@{
    ViewData["Title"] = "About";
}


<div class="container content" id="about-information">
    <h2>@ViewData["Why"]</h2>
    <p id="standaard-p">
        Veel mensen die een sporthal willen huren lopen tegen een hoop problemen aan. <br />
        Het huren van een sporthal gaat via veel te veel actoren
        waardoor het te moeilijk en langdurig wordt om een sporthal te huren,
        en soms is het zelfs helemaal niet nodig.
        Wij bedachten een oplossing: Sporthalhuren.nl.
        Een website waar vraag en aanbod voor het huren van een sport bij elkaar komen,
        om zo het proces van het huren van een sporthal makkelijker te maken.
    </p>
    </div>    
