
@model IEnumerable<string>
<a class="btn-default btn custom-button"
    asp-action="LocationFiltered"
    asp-controller="Home"
    asp-route-category="">
    Home
</a>
@foreach (string category in Model)
{
    <a class="btn-default btn custom-button"
       asp-action="LocationFiltered"
       asp-controller="Home"
       asp-route-category="@category"
       asp-route-page="1">
        @category
    </a>
}